body {

}

.App-content {
	min-height: 100vh;
	background: #333;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 16px;
}

.App-content ul {
	list-style: none;
	padding: 0;
	text-align: start;
}

.App-content a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5rem;
}

input {
	padding: 8px 15px;
	border-radius: 3px;
	border: none;
}

input:focus {
	outline: 1px solid rgb(0, 60, 160);
}